<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="birthdayMapper">

	<resultMap type="Birthday" id="bServiceResultSet">
		<id property="bservice_no" column="BSERVICE_NO"/>
		<result property="sending_time" column="SENDING_TIME"/>
		<result property="notification_msg" column="NOTIFICATION_MESSAGE"/>
		<result property="completion_msg" column="COMPLETION_MESSAGE"/>
		<result property="settlement_date" column="SETTLEMENT_DATE"/>
		<result property="bservice_status" column="BSERVICE_STATUS"/>
		<result property="com_code" column="COM_CODE"/>
	</resultMap>
	
	<resultMap type="CurStatus" id="curStsResultSet">
		<id property="curStatusNo" column="SCSTATUS_NO"></id>
		<result property="cempDept" column="CEMP_DEPT"></result>
		<result property="cempJob" column="CEMP_JOB"></result>
		<result property="cempName" column="CEMP_NAME"></result>
		<result property="cempPhone" column="CEMP_PHONE"></result>
		<result property="cempBirth" column="CEMP_BIRTH"></result>
		<result property="sendingMsgDate" column="SENDING_MESSAGE_DATE"></result>
		<result property="selectDate" column="SELECT_COMPLETE_DATE"></result>
	</resultMap>
	
	<resultMap type="SendingList" id="sendListResultSet">
		<id property="sListNo" column="SLIST_NO"></id>
		<result property="cempDept" column="CEMP_DEPT"></result>
		<result property="cempJob" column="CEMP_JOB"></result>
		<result property="cempName" column="CEMP_NAME"></result>
		<result property="cempPhone" column="CEMP_PHONE"></result>
		<result property="cempBirth" column="CEMP_BIRTH"></result>
		<result property="sendMsgDate" column="SENDING_MESSAGE_DATE"></result>
		<result property="sListStatus" column="SLIST_STATUS"></result>
		<result property="glistNo" column="GLIST_NO"></result>
		<result property="cempSeq" column="CEMP_SEQ"></result>
	</resultMap>
	
	<resultMap type="GiftList" id="giftListResultSet">
		<id property="giftNo" column="GIFT_NO"></id>
		<result property="giftBrand" column="GIFT_BRAND"></result>
		<result property="giftName" column="GIFT_NAME"></result>
		<result property="giftPrice" column="GIFT_PRICE"></result>
		<result property="changeName" column="CHANGE_NAME"></result>
	</resultMap>

	<select id="countEmp" resultType="_int">
		SELECT COUNT(*) FROM COMPANY_EMP
		WHERE COM_CODE = #{comCode}
		AND CEMP_STATUS='Y'
	</select>

	<insert id="subscribe" parameterType="Birthday">
		INSERT INTO BIRTHDAY_SERVICE VALUES
		<!-- ('1', #{per_amount}, #{sending_time}, #{notification_msg}, #{completion_msg}, SYSDATE, DEFAULT, #{com_code}) -->
		(BSERVICE_SEQ.NEXTVAL, #{per_amount}, #{sending_time}, #{notification_msg}, NULL, SYSDATE, DEFAULT, 'A')
	</insert>
	
	<select id="subscribeInfo" parameterType="String" resultMap="bServiceResultSet">
		SELECT * FROM BIRTHDAY_SERVICE WHERE COM_CODE = #{comCode} AND BSERVICE_STATUS='Y'
	</select>
	
	<select id="subscribeChk" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM BIRTHDAY_SERVICE WHERE COM_CODE = #{com_code} AND BSERVICE_STATUS='Y'
	</select>
	
	<!-- 본사용 -->
	<select id="selectList" resultMap="curStsResultSet">
		SELECT 
		B.CEMP_DEPT, B.CEMP_JOB, B.CEMP_NAME, B.CEMP_PHONE, B.CEMP_BIRTH
		, A.SENDING_MESSAGE_DATE, A.SELECT_COMPLETE_DATE
		FROM SENDING_CURRENT_STATUS A
		JOIN COMPANY_EMP B ON A.CEMP_SEQ = B.CEMP_SEQ
		WHERE TO_CHAR(B.CEMP_BIRTH,'MM') = TO_CHAR(SYSDATE,'MM')
		ORDER BY SENDING_MESSAGE_DATE
	</select>
	
	<select id="selectSendingList" resultMap="sendListResultSet">
		SELECT 
		B.CEMP_DEPT, B.CEMP_JOB, B.CEMP_NAME, B.CEMP_PHONE, B.CEMP_BIRTH
		, A.SENDING_MESSAGE_DATE, A.GLIST_NO
		FROM SENDING_LIST A
		JOIN COMPANY_EMP B ON A.CEMP_SEQ = B.CEMP_SEQ
		WHERE TO_CHAR(B.CEMP_BIRTH,'MM') = TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE,'MM'),1),'MM')
		ORDER BY SENDING_MESSAGE_DATE
	</select>
	
	<select id="selectGiftList" resultMap="giftListResultSet">
		SELECT A.GIFT_NO, A.GIFT_BRAND, A.GIFT_NAME, A.GIFT_PRICE, B.CHANGE_NAME
		FROM BIRTHDAY_GIFT A
		JOIN GIFT_ATTACHMENT B ON A.GIFT_NO = B.GIFT_REF_NO
		WHERE GIFT_STATUS='Y'
	</select>
</mapper>
