<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="companyMapper">

	<resultMap type="Company" id="companyResultSet">
		<id property="comCode" column="COM_CODE"/>
		<result property="comAdmin" column="ADMIN_ID"/>
		<result property="comName" column="COM_NAME"/>
		<result property="comAddress" column="COM_ADDRESS"/>
	</resultMap>
	
	<insert id="insertCompany" parameterType="Company">
		INSERT INTO COMPANY
		VALUES(#{comCode}, #{comAdmin}, #{comName}, #{comAddress})
	</insert>
	
	<select id="selectCompany" parameterType="string" resultMap="companyResultSet">
		SELECT *
		FROM COMPANY
		WHERE COM_CODE=#{comCode}
	</select>
	
	<update id="updateCompany" parameterType="Company">
		UPDATE COMPANY
		SET COM_NAME=#{comName}, COM_ADDRESS=#{comAddress}
		WHERE COM_CODE=#{comCode}
	</update>
	
	<update id="updateCompanyAdmin" parameterType="hashMap">
		UPDATE COMPANY
		SET ADMIN_ID=#{memId}
		WHERE COM_CODE=#{comCode}
	</update>
	
	
</mapper>