<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="invenMapper">

<insert id="insertSnack"  parameterType="Product">


INSERT INTO SNACK 
VALUES (${snackNo}, '${snackName}', ${purchasePrice},
${releasePrice}, sysdate, 'Y', 0, '${unit}', ${categoryNo}, ${detailNo},
${tasteNo}, ${aromaNo}
)

</insert>

<!-- <insert id="insertSnackAttach" parameterType="Product">

INSERT INTO 

</insert>
 -->

</mapper>
