<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="snackpotEmpMapper">

	<resultMap type="SnackpotEmp" id="snackpotEmpResultSet">
		<id property="sempNum" column="SEMP_NUM"/>
		<result property="sempComCode" column="SEMP_COMCODE"/>
		<result property="sempPw" column="SEMP_PW"/>
		<result property="sempName" column="SEMP_NAME"/>
		<result property="sempDept" column="SEMP_DEPT"/>
		<result property="sempJob" column="SEMP_JOB"/>
		<result property="sempEmail" column="SEMP_EMAIL"/>
		<result property="sempStatus" column="SEMP_STATUS"/>
	</resultMap>
	
	<select id="loginEmp" parameterType="SnackpotEmp" resultMap="snackpotEmpResultSet">
		SELECT * FROM SNACKPOT_EMP
		WHERE SEMP_NUM=#{sempNum} AND SEMP_STATUS='Y'	
	</select>
	
</mapper>