<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="snackSubsMapper">

	<resultMap type="SnackSubs" id="SnackSubsResultSet">
		<id property="subsNo" column="SUBS_NO"/>
		<result property="comCode" column="COM_CODE"/>
		<result property="budget" column="BUDGET"/>
		<result property="snackRatio" column="SNACK_RATIO"/>
		<result property="drinkRatio" column="DRINK_RATIO"/>
		<result property="retortRatio" column="RETORT_RATIO"/>
		<result property="snackCategory" column="SNACK_CATEGORY"/>
		<result property="drinkCategory" column="DRINK_CATEGORY"/>
		<result property="retortCategory" column="RETORT_CATEGORY"/>
		<result property="preferTaste" column="PREFER_TASTE"/>
		<result property="dislikeFlavour" column="DISLIKE_FLAVOUR"/>
		<result property="deliveryDate" column="DELIVERY_DATE"/>
		<result property="SettleDate" column="SETTLEMENT_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="cancelDate" column="CANCEL_DATE"/>
		<result property="subsStatus" column="SUBS_STATUS"/>
	</resultMap>


</mapper>