<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="snackListMapper">

	<resultMap type="ListSchedule" id="listScheduleResultSet">
		<id property="subsNo" column="SUBS_NO"/>
		<result property="comCode" column="COM_CODE"/>
		<result property="comName" column="COM_NAME"/>
		<result property="deliveryDate" column="DELIVERY_DATE"/>
		<result property="settleDate" column="SETTLEMENT_DATE"/>
		<result property="budget" column="BUDGET"/>
	</resultMap>
	
	<resultMap type="com.kh.spring.snack.snackList.model.vo.SnackDList" id="snackDListResultSet">
	 	<id property="snackDNo" column="SNACK_D_NO"/>
		<result property="snackListNo" column="SNACK_LIST_NO"/>
		<result property="categoryNo" column="CATEGORY_NO"/>
		<result property="categoryName" column="CATEGORY"/>
		<result property="subCategoryNo" column="DETAIL_NO"/>
		<result property="subCategoryName" column="DETAIL"/>
		<result property="snackNo" column="SNACK_NO"/>
		<result property="snackName" column="SNACK_NAME"/>
		<result property="amount" column="AMOUNT"/>
		<result property="releasePrice" column="RELEASE_PRICE"/>
		<result property="stock" column="STOCK"/>
		<result property="imageName" column="CHANGE_NAME"/>
	</resultMap>
	
	<resultMap type="com.kh.spring.snack.snackList.model.vo.SnackList" id="snackListResultSet">
		<id property="snackListNo" column="SNACK_LIST_NO"/>
		<result property="comCode" column="COM_CODE"/>
		<result property="comName" column="COM_NAME"/>
		<result property="transStatus" column="TRANS_STATUS"/>
		<result property="transDate" column="TRANS_DATE"/>
	</resultMap>
	
	<select id="selectSubsInfo" parameterType="java.util.HashMap" resultMap="listScheduleResultSet">
		
			SELECT A.SUBS_NO, A.COM_CODE, B.COM_NAME, A.DELIVERY_DATE, A.SETTLEMENT_DATE, A.BUDGET
			FROM SNACK_SUBS A
			JOIN COMPANY B ON A.COM_CODE = B.COM_CODE
			WHERE A.COM_CODE IN(
				<foreach collection="comArr" item="item" separator=",">
					#{item}
				</foreach>)
			AND A.SUBS_STATUS = 'Y'
			<![CDATA[ 
			AND A.SETTLEMENT_DATE < TRUNC(SYSDATE, 'MM')
			]]>
		
	</select>
	
	<select id="countSnackList" parameterType="String" resultType="_int">

		SELECT COUNT(*)
		FROM SNACK_LIST
		WHERE COM_CODE = #{comCode}
		AND TRANS_STATUS = 'Y'
		AND TRANS_DATE BETWEEN TRUNC(SYSDATE, 'MM') AND LAST_DAY(SYSDATE)
		
	</select>
	
	<select id="searchSnack" parameterType="com.kh.spring.snack.snackList.model.vo.SearchSnack"  resultMap="snackDListResultSet">
	
		SELECT S.SNACK_NO, S.SNACK_NAME, S.PURCHASE_PRICE, S.CATEGORY_NO, C.CATEGORY,  S.DETAIL_NO, D.DETAIL,
			   S.RELEASE_PRICE, S.STOCK, A.CHANGE_NAME
		FROM SNACK S
		LEFT JOIN SNACK_ATTACHMENT A ON (S.SNACK_NO = A.SNACK_NO)
		JOIN SNACK_CATEGORY C ON (S.CATEGORY_NO = C.CATEGORY_NO)
		JOIN SNACK_CATEGORY_DETAIL D ON (S.DETAIL_NO = D.DETAIL_NO)
		WHERE STATUS = 'Y' 
	  	<if test="category != 0">
			AND S.CATEGORY_NO = #{category}
		</if>
		<if test="subCategory != 0">
			AND S.DETAIL_NO = #{subCategory}
		</if>
		<if test="search != ''">
			AND S.SNACK_NAME LIKE '%'||#{search}||'%'
		</if>
		ORDER BY S.CATEGORY_NO ASC, S.DETAIL_NO ASC, S.SNACK_NAME ASC
	</select>
	
	<select id="selectSnackListNo" parameterType="String" resultType="_int">

		SELECT NVL(MAX(SNACK_LIST_NO), 0)
		FROM SNACK_LIST
		WHERE COM_CODE = #{comCode}
		AND TRANS_STATUS = 'N'
		
	</select>

	<select id="selectSnackDList" parameterType="_int" resultMap="snackDListResultSet">
		SELECT L.SNACK_D_NO, L.SNACK_LIST_NO, L.AMOUNT, S.SNACK_NO, S.SNACK_NAME, S.PURCHASE_PRICE, S.CATEGORY_NO, C.CATEGORY,  S.DETAIL_NO, D.DETAIL,
			   S.RELEASE_PRICE, S.STOCK, A.CHANGE_NAME
		FROM SNACK_D_LIST L 
		JOIN SNACK S ON (L.SNACK_NO = S.SNACK_NO)
		LEFT JOIN SNACK_ATTACHMENT A ON (S.SNACK_NO = A.SNACK_NO)
		JOIN SNACK_CATEGORY C ON (S.CATEGORY_NO = C.CATEGORY_NO)
		JOIN SNACK_CATEGORY_DETAIL D ON (S.DETAIL_NO = D.DETAIL_NO)
		WHERE L.SNACK_LIST_NO = #{listNo} 
		ORDER BY S.CATEGORY_NO ASC, S.DETAIL_NO ASC, S.SNACK_NAME ASC
	</select>
	
	<insert id="insertSanckList" parameterType="String">
		INSERT INTO SNACK_LIST
		VALUES(SNACK_LIST_SEQ.NEXTVAL, #{comCode}, DEFAULT, NULL)
	</insert>

	<select id="selectSnack" parameterType="SnackSubs" resultMap="snackDListResultSet">
		SELECT S.SNACK_NO, S.SNACK_NAME, S.PURCHASE_PRICE, S.CATEGORY_NO, C.CATEGORY,  S.DETAIL_NO, D.DETAIL,
			   S.RELEASE_PRICE, S.STOCK, A.CHANGE_NAME
		FROM SNACK S 
		LEFT JOIN SNACK_ATTACHMENT A ON (S.SNACK_NO = A.SNACK_NO)
		JOIN SNACK_CATEGORY C ON (S.CATEGORY_NO = C.CATEGORY_NO)
		JOIN SNACK_CATEGORY_DETAIL D ON (S.DETAIL_NO = D.DETAIL_NO)
		WHERE S.DETAIL_NO IN (${snackCategory},${drinkCategory},${retortCategory})
		AND S.TASTE_NO IN (${preferTaste})
		AND S.AROMA_NO NOT IN (${dislikeFlavour})
	</select>
	
	<update id="insertSnackDList" parameterType="java.util.List" >
		INSERT INTO SNACK_D_LIST
		SELECT SNACK_D_LIST_SEQ.NEXTVAL, S.*
		FROM(
			<foreach item="item" collection="list" separator="UNION ALL">
				SELECT #{item.snackListNo}, #{item.snackNo}, #{item.amount}
				FROM SYS.DUAL
			</foreach>
		)S
	</update>
	
	<select id="selectTotalPrice" parameterType="_int" resultType="_int">
		SELECT NVL(SUM(S.RELEASE_PRICE * L.AMOUNT), 0)
		FROM SNACK_D_LIST L
		JOIN SNACK S ON (L.SNACK_NO = S.SNACK_NO)
		WHERE L.SNACK_LIST_NO = #{listNo}
	</select>
	
	<delete id="deleteSnackDList" parameterType="_int">
		DELETE FROM SNACK_D_LIST
		WHERE SNACK_LIST_NO = #{listNo}
	</delete>
	
	<delete id="deleteSnackDNo" parameterType="String">
		DELETE FROM SNACK_D_LIST
		WHERE SNACK_D_NO IN (${snackDNoCheck})
	</delete>
	
	<insert id="addSanckDList" parameterType="com.kh.spring.snack.snackList.model.vo.SnackDList">
		INSERT INTO SNACK_D_LIST
		VALUES(SNACK_D_LIST_SEQ.NEXTVAL, #{snackListNo}, #{snackNo}, #{amount} )
	</insert>
	
	<select id="checkSnackDup" parameterType="com.kh.spring.snack.snackList.model.vo.SnackDList" resultType="_int">
		SELECT COUNT(*)
		FROM SNACK_D_LIST
		WHERE SNACK_LIST_NO = #{snackListNo}
		AND SNACK_NO = #{snackNo}
	</select>
	
	<update id="updateSnackAmount" parameterType="com.kh.spring.snack.snackList.model.vo.SnackDList">
		UPDATE SNACK_D_LIST
		SET AMOUNT = ${amount}
		WHERE SNACK_D_NO = ${snackDNo}
	</update>
	
	<select id="selectSnackMaxNum" resultType="_int">
		SELECT MAX(SNACK_NO)
		FROM SNACK
	</select>
	
	<insert id="insertOrder" parameterType="ListSchedule">
		INSERT INTO ORDERS
		VALUES(#{listNo}, #{comCode}, #{orderDeadline}, NULL, NULL, NULL, DEFAULT)
	</insert>
	
	<insert id="insertOrderDetail" parameterType="_int">
		INSERT INTO ORDER_DETAIL (ORDER_DETAIL_NO, ORDER_NO, SNACK_NO, AMOUNT)
		SELECT ORDER_D_NO_SEQ.NEXTVAL, SNACK_LIST_NO, SNACK_NO, AMOUNT
		FROM SNACK_D_LIST
		WHERE SNACK_LIST_NO = #{listNo}
	</insert>
	
	<update id="updateTransStatus" parameterType="_int">
		UPDATE SNACK_LIST
		SET TRANS_STATUS = 'Y', TRANS_DATE = SYSDATE
		WHERE SNACK_LIST_NO = #{listNo}
	</update>
	
	<select id="selectSendingList" parameterType="java.util.HashMap" resultMap="snackListResultSet">
		SELECT A.SNACK_LIST_NO, A.COM_CODE, B.COM_NAME, A.TRANS_STATUS, A.TRANS_DATE
		FROM SNACK_LIST A
		JOIN COMPANY B ON A.COM_CODE = B.COM_CODE
		WHERE A.COM_CODE IN(
			<foreach collection="comArr" item="item" separator=",">
				#{item}
			</foreach>)
		AND A.TRANS_STATUS = 'Y'
	</select>

</mapper>